:root{
    --primary: rgb(131, 200, 212);
    --business:rgb(213, 30, 20);
    --personal:var(--primary);; 
    --light:rgba(202, 233, 164, 0.736);
    --dark:#2d2a2a;
    --grey:rgb(65, 63, 63);
    --danger:#eee310;

    --shadow:0 1px 3px rgba(0,0,0,0.1);
    --business-glow:0px 0px 4px rgb(213, 30, 20);
    --personal-glow:0px 0px 4px rgb(131, 200, 212, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    background: var(--light);
    color: var(--dark);
}

section{
    margin-top: 2rem; 
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;    
}

h3{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

h4{
    color:var(--grey);
    font-size: 0.850rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.greeting .title{
    display: flex;
}

.greeting .title input{
    margin-left: 00.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input{
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #ffffff;
    border-radius: 00.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo .option{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .option label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 00.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;    
}

input[type="radio"], 
input[type="checkbox"]{
    display: none;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.bubble.personal{
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after{
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: var(--business-glow);
    background-color: var(--business);
    transition: 0.2s ease-in-out;
}

.bubble.personal::after{
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after{
    opacity: 1;
    width: 10px;
    height: 10px;
}

.create-todo .option label div{
    color: var(--dark);    
    font-size: 1.125rem;
    margin-top: 1rem;
}
 
.create-todo input[type="submit"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #ffffff;
    background-color: var(--primary);
    border-radius: 00.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover{
    opacity: 0.75;
}

.todo-list .list{
    margin: 1rem 0;
}

.todo-list .todo-item{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 00.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content{
    flex:1 1 0%;
}

.todo-item .todo-content input{
    color: var(--dark);
    align-items: center;
}

.todo-item .actions{
    display: flex;
    align-items: center;
}

.todo-item .actions button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover{
    opacity: 0.75;
}

.todo-item .actions .edit{
    margin-right: 00.5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete{
    margin-right: 00.5rem;
    background-color: var(--danger);
}

.todo-item.done .todo-content input{
    text-decoration: line-through;
    color: var(--grey);
}